.landingPage {
    width: 100%;
    height: 100%;
    background-image: url('../images/landing_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(17,17,17,.8);
        position: absolute;
    }
    .homeContent {
        position: relative;
        z-index: 1;
        width: 80%;
        height: calc(100% - 60px);
        // background-color: aliceblue;
        border: rgba(17,17,17,.1);
        display: flex;
        margin:auto;
        align-items: center;
        // justify-content: space-arou  nd;
        .heloContent {
            width: 50%;
            color: #fff;
            h1{
                font-size: 6rem;
                margin: 0px;
            }
            .Typewriter {
                font-weight: bold;
                font-size: 1.5rem;
            }
            span {
                color: var(--active-nav-link);
            }
            p{
                width: 80%;
                font-size: 1rem;
                line-height: 28px;
                letter-spacing: 1px;
                color: #ccc;
            }
            a {
                display: inline-block;
                margin-top: 1em;
                height: 50px;
                min-width: 150px;
                border-radius: 30px;
                text-align: center;
                line-height: 50px;
                border: 2px solid var(--active-nav-link);
                border-radius: 30px;
                text-decoration: none;
                color: var(--active-nav-link);
                letter-spacing: 2px;
                transition: 0.3s ease-in-out all;
                position: relative;
                left: 100px;
                text-transform: capitalize;
                i{
                    font-size: 1rem;
                }
                &:hover {
                    background-color: var(--active-nav-link);
                    border-color: var(--active-nav-link);
                    color: #111;
                }
                &::before {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100px;
                    background-color: var(--active-nav-link);
                    position: absolute;
                    left: -100px;
                    top: 25px;
                }
                // &::after {
                //     content: '';
                //     display: block;
                //     height: 1px;
                //     width: 100px;
                //     background-color: var(--active-nav-link);
                //     position: absolute;
                //     right: -100px;
                //     top: 25px;
                // }
            }
        }
        .heloPic {
            width: 500px;
            height: 500px;
            object-fit: contain;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 100px;
        }
    }
}